@import "./Member/MyAccount";
@import "./Member/MemberInformation";

body {
    #app {

        .member-page {
            max-width: 1200px;
            width: 90%;
            margin: 0 auto;
            color: #525B67;



            @include lg {
                margin-bottom: 120px;
                width: 100%;
            }

            .member-kv {
                a {
                    img {
                        width: 100%;
                    }
                }
            }

            .row {
                @include lg {
                    margin-right: 0;
                    margin-left: 0;
                }
            }

            .member-menu-ph {
                width: 100%;
                display: none;

                @include lg {
                    display: block;
                }

                .member-drop-down {

                    width: 100%;
                    font-size: 25px;
                    box-shadow: 0px 3px 6px #00000029;
                    margin-top: 20px;



                    .the-drop-down {
                        display: flex;
                        padding: 20px;
                        justify-content: space-between;

                        .icon-title {
                            display: flex;

                            p {
                                margin-left: 20px;
                                font-weight: bold;
                            }

                        }

                        .fa-chevron-down {
                            color: #FD4337;
                        }
                    }

                    .expand-content {
                        max-height: 0;
                        overflow: hidden;

                        ul {
                            li {
                                a {
                                    display: flex;
                                    padding: 20px;

                                    p {
                                        margin-left: 20px;
                                    }
                                }
                            }
                        }
                    }
                }

                .member-drop-down.expand {


                    .the-drop-down {
                        border-bottom: 1px solid #FD4337;

                        .icon-title {
                            color: #FD4337;

                            .icon-icn_man {
                                &:before {
                                    color: #FD4337;
                                    transition: 0.4s;
                                }
                            }
                        }

                        .fa-chevron-down {
                            transform: rotate(180deg);
                        }
                    }


                    .expand-content {
                        max-height: 800px;
                    }
                }

                .member-name {
                    padding: 20px;
                    font-size: 25px;
                    font-weight: bold;

                    .member-level {
                        font-size: 20px;
                        color: #FD4337;
                        font-weight: 300;
                        margin-left: 20px;
                    }
                }
            }



            .member-side-menu {
                @include lg {
                    display: none;
                }

                .content-box {
                    padding: 30px;
                    box-shadow: 0px 3px 6px #00000029;
                    border-radius: 10px;
                    color: #525B67;
                    font-weight: bold;
                    margin-top: 20px;
                    font-size: 20px;

                    .member-name {
                        border-bottom: 2px solid #525B67;
                        padding-bottom: 10px;
                        font-weight: bold;

                        .member-level {
                            color: #FD4337;
                            font-size: 16px;
                            font-weight: 400;
                            margin-left: 10px;
                        }
                    }

                    ul {
                        li {
                            padding-top: 20px;

                            a {
                                display: flex;
                                color: #525B67;
                                font-weight: bold;
                                align-items: center;

                                img {
                                    width: 24px;
                                }

                                .side-icon {
                                    font-size: 24px;
                                }

                                p {
                                    margin-left: 20px;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}